{% capture footer_contents %}
  {% if site.impressum_path %}
    <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
  {% endif %}
  {% if site.last_updated %}
    Last updated: {{ 'now' | date: '%B %d, %Y' }}.
  {% endif %}
{% endcapture %}

{% assign footer_contents = footer_contents | strip %}

{% if site.footer_fixed %}
  <footer class="fixed-bottom" role="contentinfo">
    {% if footer_contents != '' %}
      <div class="container mt-0">
        {{ footer_contents }}
      </div>
    {% endif %}
  </footer>
{% else %}
  <footer class="sticky-bottom mt-5" role="contentinfo">
    {% if site.newsletter.enabled %}
      {% include newsletter.liquid %}
    {% endif %}

    {% if footer_contents != '' %}
      <div class="container">
        {{ footer_contents }}
      </div>
    {% endif %}
  </footer>
{% endif %}
